<div class="main mx-5 my-5 d-flex justify-content-between">

    <router-outlet></router-outlet>
    <app-remote-user></app-remote-user>
    <div class=" new my-3">
        <app-user></app-user>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn {{btnChatColor}}" (click)=onChat()>Chat</button>

            <button type="button" class="btn {{btnUsersColor}}" (click)=onAllUser()>Users</button>

        </div>
        <div *ngIf="chatBtn">
            <app-chat></app-chat>
        </div>
        <div *ngIf="allUserBtn">
            <app-all-user></app-all-user>
        </div>
    </div>
</div>

<!-- <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-all-user></app-all-user>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <app-chat></app-chat>
    </div>
</div> -->