.main{
    background-color: rgba(0,0,0,0.6);
    height: 949px;
    margin-right: 3px;
}

.new{
    border: 4px solid black;
    background-color: white;
    overflow-y: scroll;
  }

  .btn{
      width: 192px;
  }