<div class="main d-flex justify-content-between">

    <router-outlet></router-outlet>
    <app-remote-user></app-remote-user>
    <div class="new my-3">
        <app-user></app-user>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn {{btnChatColor}}" (click)=onChat()>Chat</button>

            <button type="button" class="btn {{btnUsersColor}}" (click)=onAllUser()>Users</button>

        </div>
        <div *ngIf="chatBtn">
            <app-chat></app-chat>
        </div>
        <div *ngIf="allUserBtn">
            <app-all-user></app-all-user>
        </div>
        <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                    type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                Anshul
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Singh
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Chouhan
            </div>
        </div> -->
    </div>
</div>