<script src="https://kit.fontawesome.com/d4ca923025.js" crossorigin="anonymous"></script>


<div class="main">
    <div>
        <div class="card" style="width: 20rem; height: 22rem;">
            <div id={{elementId}} style="height: 300px;">
            </div>
            <div class="card-body">
                <p>
                    <strong>{{userName.toUpperCase()}}</strong> <br>
                    {{userName}}@bigsteptech.com
                </p>
                <div class="d-flex justify-content-evenly">
                    <button class="btn rounded-circle" (click)=onVideo()>
                        <fa-icon [icon]="faVideoOn" *ngIf="!video"></fa-icon>
                        <fa-icon [icon]="faVideoOff" *ngIf="video"></fa-icon>
                    </button>
                    <button class="btn rounded-circle" (click)=onMic()>
                        <fa-icon [icon]="faMicrophoneOn" *ngIf="!mic"></fa-icon>
                        <fa-icon [icon]="faMicrophoneOff" *ngIf="mic"></fa-icon>
                    </button>
                    <button class="btn rounded-circle" (click)=onScreenShare()>
                        {{screen ? "SS" : "NSS"}}
                    </button>
                    <button class="btn rounded-circle" (click)=onEndCall()>
                        <fa-icon [icon]="faPhoneSlash"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="presenting d-flex justify-content-center" *ngIf=screen>
        <h3>YOU ARE PRESENTING</h3>
    </div>


</div>