<div class="my-2">
    <form (ngSubmit)='onSubmit(f)' #f='ngForm'>
        <div *ngFor='let message of messages'>
            <div class="container">
                <div class="message-blue">
                    <strong>{{message.memberId}}</strong> <br>
                    {{message.message}}
                </div>
            </div>

        </div>
        <div class="msg my-1">
            <input type="text" placeholder="Type your message" name='message' id='message' ngModel required>
            <button type="submit" [disabled]="!f.valid">Send</button>
        </div>
    </form>
</div>